

@media only screen and (max-width:480px){
    body{
        background-color: rgba(237, 217, 247, 1) !important;
    }
    
    .listingMainClass{
        margin-left:0;
        width:100%;
        
        
    }
    .myCardContainer{      
        width:90%;
        padding:0;
        margin:auto;
        height:150px;
        background-color:white;
        margin:5%;
       
    }
    .cardWrapper{
        width: 100%;
        height:100%;
        

    }
    .cardLeft{
        
        width: 60%;
        font-weight:700;
        font-size:18px;
       
        height:100%;
        float:left;
    }
    .cardLeftText{
        display:flex;
        flex-direction: column;
        align-items:center;
        line-height: 40px;
        height:100%;
        justify-content: center;
    }
    .cardRight{
        width: 40%;
       font-size:18px;
        height:100%;
        float:right;
        
        

    }
    .cardRightText{
        height:100%;

        display:flex;
        align-items: center;
        justify-content: center;
    }
  
    .monthButton{
        color:white;
        font-weight: 700;
        font-size:16px;
        padding:13px 25px;
        background-color:#4E176C;
        border:none;

    }
    
    
    
   
    
}