
@media only screen and (max-width:480px){
    .new{
        border:2px solid red;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 20px 19px;
        overflow-x:scroll;   
        height:150px;
        height:100%;
        margin-bottom:20%;
        /* border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        padding-top:20px; */
        
}
.new::-webkit-scrollbar {
    display: none;
}
.new {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
  }
.myMon{

    display: flex;
    flex-direction: row;
    /* width:100vh; */
    width:100%;
    gap:10px;
}

.monthBtn{ 

    color: black !important;
    padding:5px 20px !important; 
    font-size:18px;   
    font-weight: 500 !important;
    border:none !important;
}

.monthBtn:last-child{
    margin-right:2px;
}
.high{
    background-color:#4E176C !important;
    color: white !important;
    padding:10px 20px !important;
} 
.weekButton{
    
}

}
  